---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://toastify.tk/favicon.ico"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>This doesn't exist, yet...</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

      body {
        font-family: "Inter", sans-serif;
      }
    </style>
  </head>
  <body class="bg-neutral-900 text-slate-100">
    <main
      class="w-screen h-screen flex flex-col justify-center items-center text-center"
    >
      <h1 class="font-bold text-[4.3rem] leading-[1.35]">
        This doesn't exist, yet...
      </h1>
      <p>
        This is supposed to lead to a project by
        <a
          href="https://github.com/ToastedDev"
          class="text-blue-400 hover:underline">@ToastedDev</a
        >, but it doesn't have enough content to be public as of right now.
      </p>
    </main>
  </body>
</html>
